<div class="footer">
    <div>
        <label>Language:</label>
        <select name="select" size="1">
            <option value="1" selected>English</option>
            <option value="2">Русский</option>
        </select>
    </div>
    <h4>
        ©2021 UpGaming
        <a class="socialbtn" href="https://discord.gg/jKHYcXy">
            <img class="socialimg" src="/img/discord.svg" />
        </a>
        <a class="socialbtn" href="https://www.roblox.com/groups/6887275/UpGaming#!/about">
            <img class="socialimg" src="/img/roblox.svg" />
        </a>
    </h4>
</div>