<!DOCTYPE html>
<html>

<head>
  <title>UpGaming - Register</title>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="/img/logo.png" type="image/png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/login.css" rel="stylesheet">
  <link href="/css/form.css" rel="stylesheet">
  <link href="/css/notification.css" rel="stylesheet">
</head>

<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <%- include('components/Notification'); %>

  <%- include('components/Header'); %>

    <div class="login-box">
      <h2>Signup</h2>
      <form>
        <div class="user-box">
          <input class="nickname" type="text" name="" required="">
          <label>Nickname</label>
        </div>
        <div class="user-box">
          <input class="email" type="text" name="" required="">
          <label>Email</label>
        </div>
        <div class="user-box">
          <input class="password" type="password" name="" required="">
          <label>Password</label>
        </div>
        <a id="continue" href="#">
          Continue
        </a>
      </form>
    </div>

    <%- include('components/Footer'); %>

      <script>
        async function act(email, password, nickname) {
          try {
            $('.continue').prop('disabled', true)
            const response = await fetch('/api/signup', {
              method: 'post',
              headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
              },
              body: JSON.stringify({
                email: email,
                password: password,
                nickname: nickname
              })
            });
            const result = await response.text();
            if (result) {
              let data = JSON.parse(result)
              if (data.status === 'success') {
                localStorage.setItem('auth', data.authKey)
                window.location.pathname = '/home'
              } else {
                let desc = ""

                switch (data.errorCode) {
                  case "api/weak-password":
                    desc = "Password is too week."
                    break
                  case "api/nickname-min-chars":
                    desc = "Allowed nickname length is more than 3 characters"
                    break
                  case "api/nickname-max-chars":
                    desc = "Allowed nickname length is less than 10 characters"
                    break
                  case "api/invalid-nickname":
                    desc = "Nickname must contain only characters: a-Z, _"
                    break
                  case "api/database-error":
                    desc = "Server Error: 1. Try again!"
                    break
                  case "api/user-already-exists":
                    desc = "User with this email or nickname already exists."
                    break
                  case "api/invalid-email":
                    desc = "Invalid email."
                    break
                  case "api/incorrect-syntax":
                    desc = "Make sure what you provide an email field or a password field."
                    break
                }
                
                $('.notif_title').prop('innerHTML', 'Login')
                $('.notif_desc').prop('innerHTML', desc)
                if (!$('.notif_bg').hasClass('in')) $('.notif_bg').addClass('in')
              }
            }
            $('.continue').prop('disabled', false)
          } catch (error) {
            console.log('Ошибка:', error);
            alert(error)
          }
        }
        $(document).ready(() => {
          $('#continue').on('click', () => {
            let $email = $('.email')
            let $nickname = $('.nickname')
            let $password = $('.password')

            act($email.prop('value'), $password.prop('value'), $nickname.prop('value'))
          })
        })
      </script>
</body>

</html>